<nav class="nav d-flex justify-content-between" >
      <a class="p-2 text-muted" href="projects">Projects</a>
      <a class="p-2 text-muted" href="howtovideos">How-to videos</a>
      <a class="p-2 text-muted" href="commonerrors">Common errors</a>
      <a class="p-2 text-muted" href="mymaterials">My Materials</a>
      <a class="p-2 text-muted" href="myblog">My Blog</a>
      <a class="p-2 text-muted" href="shop">Shop</a>
      <a class="p-2 text-muted" href="contactme">Contact Me</a>
</nav>