h1 {
	font-family: Didot;
	text-align: center;
}

h3{
	font-family: Didot;
}

h2{
	font-family: Didot;
}

p{
	font-family: Didot;
}

.btn-custom {
	background-color: bg-info;
	font-family: Didot;
	
}
#fname{
	color:black;
}

.form-group {
	font-family: Didot;
}

