<!doctype html>
<html lang="en">
  <%- include ("../partials/head") %>
  <body>
    <div class="container">
  <%- include ("../partials/header") %>

  <div class="nav-scroller py-1 mb-2">
    <%- include ("../partials/nav") %>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-info">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Contact Me</h1>
      <p class="lead my-3"></p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">My information listed down below...</a></p>
    </div>
  </div>

  <h1 class="display-4 font-italic"><%= topicHead %></h1>

<!-- views/contact.ejs -->
<div class="form-header">
  <h2>Send me a message</h2>
</div>
<form method="post" action="/contactsubmit" novalidate>

  <div class="form-field">
    <label for="fname">First Name</label>
    <input class="input" id="fname" name="fname" type="text" value="" />
  </div>
    
   
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>

